
###> symfony/framework-bundle ###
/.env
/%PUBLIC_DIR%/bundles/
/%VAR_DIR%/
/vendor/
/var/
###< symfony/framework-bundle ###

/public/uploads/
/public/downloads/

###> symfony/webpack-encore-pack ###
/node_modules/
/%PUBLIC_DIR%/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###
